<!doctype html>
<html>
<head>
    <title>Admin Login | Smart Tourism</title>
    <link rel="stylesheet" href="loginPage.css" />
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <div class="icon">SGU</div>
            <h1>Management POI</h1>
            <p>Management Portal Access</p>
        </div>

        <div class="card">
            <h2>Welcome back</h2>
            <p>Please enter your details to sign in.</p>

            <form asp-action="Login" method="post">
                <label>Email Address</label>
                <input asp-for="Email"
                       type="email"
                       placeholder="admin@smarttourism.com" />
                <span asp-validation-for="Email"></span>

                <label>Password</label>
                <input asp-for="Password" type="password" placeholder="••••••••" />
                <span asp-validation-for="Password"></span>

                <div class="row">
                    <div style="display: flex; align-items: center; gap: 5px">
                        <input type="checkbox" asp-for="RememberMe" />
                        <label>Remember me</label>
                    </div>
                    <a href="#">Forgot password?</a>
                </div>

                <button type="submit">Sign in to Dashboard</button>
            </form>
        </div>
    </div>
</body>
</html>
